/* SignUp.css */

.signup-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}


.signup-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.signup-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #111;
  text-align: center;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.password-group {
  position: relative;
}

.eye-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.submit-button {
  padding: 12px;
  background-color: #f0c14b;
  border: 1px solid #a88734;
  border-radius: 4px;
  font-weight: bold;
  color: #111;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submit-button:hover {
  background-color: #e6b335;
}

.login-redirect {
  text-align: center;
  margin-top: 20px;
}

.signin-link {
  background: none;
  border: none;
  color: #0073e6;
  cursor: pointer;
  text-decoration: underline;
}

.signin-link:hover {
  color: #0056b3;
}

.eye-button{
  margin-top: 9px;
}
